@{
	Layout = null;
}

<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../asset/gem.png">

	<title>Gem Events</title>
	<!-- Bootstrap core CSS -->
	<link href="~/Content/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<!--fontawesome-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
	<!-- Custom styles for this template -->
	<link rel="stylesheet" href="~/Content/CSS/about.css">
	<!--font-family : poppins-->
	<link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,700,900" rel="stylesheet">
	<!--font-family : Tangerine-->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
	<!--font-family : Dancing Script-->
	<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">
</head>
<body>

	<header>
		<nav class="navbar navbar-expand-md navbar-dark fixed-top " style="background-color: rgba(0,0,0,0.9);">
			<div class="container">
				@Html.ActionLink("Gem Events", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarCollapse">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item ">
							@Html.ActionLink("Home", "Index", "Home")
						</li>
						<li class="nav-item">
							@Html.ActionLink("Service", "Service", "Home")
						</li>
						<li class="nav-item active">
							@Html.ActionLink("About", "About", "Home")
						</li>
						<li class="nav-item">
							@Html.ActionLink("Gellary", "Index", "igms")
						</li>
						<li class="nav-item">
							@Html.ActionLink("Contact", "Contact", "Home")
						</li>

					</ul>
				</div>
			</div>
		</nav>
	</header>
	<main role="main">
		<section class="jumbotron text-center">
			<div class="container">
				<h1 class="jumbotron-heading">About Us</h1>

			</div>
		</section>


		<div class="container ">

			<div class="row">
				<div class="col-md-4">
					<img src="~/Content/asset/test001.jpg" style="width : 100%; height :100%;" alt="service">
				</div>
				<div class="col-md-1"></div>
				<div class="col-md-7">
					<h1>"<br>Making Dreams<br> Come True</h1>
					<h5><br>You dream, we create your big day.<br></h5>

					<h3><br>Charlie Hunnam<br>Co-Founder & Creative Director</h3>
				</div>
			</div>
			<hr class="featurette-divider">
			<div class="row">


				<div class="col-md-7">
					<h1>"<br>Turning a Vision <br>into Reality</h1>
					<h5><br>For the purpose of making , The Unforgettable Memories<br></h5>

					<h3><br>Annabelle Wallis <br>Co-Founder & Creative Director</h3>
				</div>
				<div class="col-md-1"></div>
				<div class="col-md-4">
					<img src="~/Content/asset/test002.jpg" style="width : 100%; height :100%;" alt="service">
				</div>

			</div>
			<hr class="featurette-divider">
			<div class="row">
				<div class="col-md-4">
					<img src="~/Content/asset/test0003.jpg" style="width : 100%; height :100%;" alt="service">
				</div>
				<div class="col-md-1"></div>
				<div class="col-md-7">
					<h1>"<br>A Perfectionist <br>on<br> Every Detail</h1>
					<h5><br>Creating your moment without making any mistake.<br></h5>

					<h3><br>Lily Collins<br>Co-Founder & Creative Director</h3>
				</div>
			</div>
			<hr class="featurette-divider">




			<!-- FOOTER -->
			<footer>
				<p class="follow">
					Follow Us
					<i class="fab fa-facebook-f"></i>
					<i class="fab fa-instagram"></i>
					<i class="fab fa-twitter"></i>
					<i class="fab fa-pinterest"></i>
				</p>
				<p>&copy;  COPYRIGHT 2018. ALL RIGHTS RESERVED,GEM EVENTS.</p>

			</footer>
		</div>
	</main>

	<!-- Bootstrap core JavaScript
	================================================== -->

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script>window.jQuery || document.write('<script src="~/Content/bootstrap/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
	<script src="~/Content/bootstrap/assets/js/vendor/popper.min.js"></script>
	<script src="~/Content/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="~/Content/bootstrap/assets/js/vendor/holder.min.js"></script>
</body>
</html>